@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  /* font-family: MesloLGS Nerd Font Mono; */
  font-family: Ubuntu Nerd Font;
  /* font-family: Cantarell; */
  font-weight: 500;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  /* background: alpha(#000000, 0.1); */
  background: #3412b1;
  /* background: #3e2bc2; */
  /* background: #3a1172; */
  /* background: #6f2574; */
  /* background: #903f8e; */
  color: @text;
}

tooltip {
  background: @mantle;
  border-radius: 10px;
}

#workspaces button {
  /* color: @surface2; */
  padding: 0 10px;
  color: @subtext0;
  border-radius: 10px;
}

#workspaces button.active {
  color: @text;
  background: alpha(#ffffff, 0.2);
}

#clock.time {
  margin-left: 10px;
  margin-right: 12px;
}

#clock.date {
  margin-left: 30px;
}

#cpu {
  padding: 0 10px;
}

#memory {
  padding: 0 10px;
}

#disk {
  padding: 0 10px;
}

#network {
  margin-left: 26px;
  padding: 0 10px;
}

#wireplumber {
  margin-left: 26px;
  /* min-width: 60px; */
  padding: 0 10px;
}

#custom-spotify {
  margin-left: 26px;
  padding: 0 10px;
}

#custom-power {
  margin-right: 12px;
  margin-left: 18px;
}
